*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.grid{
    display: block;
    justify-content: left;
    float: left;
    width: 100%;

}
.main{
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 2px;
   

}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .grid {
      width: 60%;
      padding: 0;
    
    }
    .main {
      width: 60%;
      float: left;
    }
  }
  @media only screen and (max-width:500px) {
    .grid, .main, .element {
      width: 80%;
    }
  }
.element{
    padding: 20px;
    border: 3px solid black;
    
}
